.App {
  > header {
    margin-bottom: 2rem;
    padding: 1em 0;
    background: #ccc;
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  > main {
    text-align: center;

    button {
      display: block;
      margin: .5rem auto;
      border: none;
      background: none;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
