@font-face {
  font-family: 'Pirata One';
  src: url('./static/fonts/PirataOne.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('./static/fonts/CrimsonText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('./static/fonts/CrimsonText-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('./static/fonts/CrimsonText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('./static/fonts/CrimsonText-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('./static/fonts/CrimsonText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('./static/fonts/CrimsonText-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
